html {
    scroll-behavior: smooth;
}

body {
    padding: 60px 0px 0px 0px;
    z-index: 0; }

.row-header {
    margin: 0 auto;
    padding: 0px 0px;
} 

.jumbotron {
    padding: 2rem 1rem;
    background-color: #e9ecef;
  }
.webgl {
    height: auto; 
    width: 100%;
    max-width: 100%;
}

.logoImage {
    inline-size: auto;
    height: 60px;
    width: 212px;
    margin-left : 40px
}
.logoImageMob {
    height: 84px;
    width: 155px;
    position: fixed;
    top: 0;
    left: 52.5%;
    margin-left: -85px !important;
}

.bg-black {
    background-color: #1f1f1f;
}

.headerText {
    font-family: -webkit-pictograph;
}

.serviceBtn {
    margin-top: 15px;
} 

.webGlContatiner {
    position: relative;
}

.imageButton {
    display: block;
    margin-bottom: 12px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.imageButtonContainers {
    position: absolute;
    bottom: 23px;
    right: 30px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 2px ridge;
    min-height: 400px; }

.secondImage {
    position: absolute;
    bottom: 0;
    left: 0;
}
.secondImage2 {
    position: absolute;
    bottom: 0;
    right: 0;
}


@media screen and (min-width : 1440px){
    .secondImage2 {
        right: 119px !important;
    }
    .secondImage {
        left: 119px !important;
    }
}
@media screen and (min-width : 2256px){
    .secondImage2 {
        right: 379px !important;
    }
    .secondImage {
        left: 379px !important;
    }
}

@media screen and (min-width : 768px) {
    .webgl {
        height: 760px !important;
      }
    .galleryDiv div {
       margin-bottom: 0px;
        }
}

@media screen and (max-width : 768px) {
    .navbar-collapse {
        border-bottom: 1px solid white;
        padding-bottom: 16px ;
    }
    .webgl {
        height: 450px !important;
      }
    .floorImages {
        width: 48px !important;
        height: 48px !important;
    }
    .secondImage2 {
        right: 0px !important;
    } 
    .secondImage {
        left: 0px !important;
    }
    .galleryDiv div {
        margin-bottom: 10px;
        }
}
.redButton {
    background-color: #fc3c3c !important;
    color: wheat !important;
}

.galleryDiv div {
    text-align: center;
}

.footer {
    background-color: #1f1f1f;
    margin: 0px auto;
    padding: 37px 0px; 
    padding-bottom: 11px;
    color: white;
}

.carousel-caption {
    background-color: rgb(0 0 0 / 46%);
    text-align: left;
    padding: 25px;
    border-radius: 10px;
}
ol.carousel-indicators {
    display: block;
    left: auto;
    bottom: 50px;
    right: 15px;
}
.carousel-indicators li {
    height: 5px;
    background-color: #ffeb3b;
    opacity: .6;
}

.viewImage {
    align-self: center;
}


.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }